{% extends "base/theme.html" %}
{% load sitegate %}
{% block main_content %}

<section id="services">
	 <div class="container">
	 </br>
	 </br>
		 <div class="row main-content">
		 	<div class="col-md-2"></div>
			 <div class="col-md-4 text-center">
				 <div class="my_signin_block">
					 <h2 class="section-heading">Sign In</h2>
					 <h3 class="section-subheading text-muted">Welcome back!</h3>
					 {% sitegate_signin_form %}
				 </div>
			 </div>
			 <div class="col-md-4 text-center">
				 <div class="my_signup_block">
				 	<h2 class="section-heading">Sign Up</h2>
					 <h3 class="section-subheading text-muted">Visit exotic places, and talk smack about them!</h3>
					 {% sitegate_signup_form %}
				 </div>
			 </div>	
			 <div class="col-md-2"></div>		
		

		</div>	 
			 
		 
	 </div>
	 
</section>

{% endblock %}